In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Shark Tank India (impure).csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 52 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Season_Number                        478 non-null    int64
 1   Startup_Name                         478 non-null    object
 2   Episode_Number                       478 non-null    int64
 3   Pitch_Number                         478 non-null    int64
 4   Season_Start                         478 non-null    object
 5   Season_End                           478 non-null    object
 6   Original_Air_Date                    447 non-null    object
 7   Episode_Title                        478 non-null    object
 8   Anchor                               478 non-null    object
 9   Industry                             478 non-null    object
 10  Business_Description                 478 non-null    object
 11  Company_Website                      466 non-null    object
 12  Started_in                           355 non-null    float64
 13  Number_of_Presenters                 478 non-null    int64
 14  Male_Presenters                      412 non-null    float64
 15  Female_Presenters                    226 non-null    float64
 16  Transgender_Presenters               3 non-null      float64
 17  Couple_Presenters                    473 non-null    float64
 18  Pitchers_Average_Age                 478 non-null    object
 19  Pitchers_City                        473 non-null    object
 20  Pitchers_State                       474 non-null    object
 21  Yearly_Revenue(in_lakhs)             241 non-null    float64
 22  Monthly_Sales(in_lakhs)              225 non-null    float64
 23  Gross_Margin                         129 non-null    float64
 24  Net_Margin                           73 non-null     float64
 25  EBITDA                               23 non-null     float64
 26  Cash_Burn                            64 non-null     object
 27  SKUs                                 28 non-null     float64
 28  Has_Patents                          43 non-null     object
 29  Bootstrapped                         48 non-null     object
 30  Original_Ask_Amount                  478 non-null    float64
 31  Original_Offered_Equity(in_%)        478 non-null    float64
 32  Valuation_Requested(in_lakhs)        478 non-null    float64
 33  Received_Offer                       478 non-null    object
 34  Accepted_Offer                       321 non-null    object
 35  Total_Deal_Amount(in_lakhs)          268 non-null    float64
 36  Total_Deal_Equity(%)                 268 non-null    float64
 37  Number_of_Sharks_in_Deal             268 non-null    float64
 38  Namita_Investment_Amount(in lakhs)   89 non-null     float64
 39  Vineeta_Investment_Amount(in_lakhs)  68 non-null     float64
 40  Anupam_Investment_Amount(in_lakhs)   75 non-null     float64
 41  Aman_Investment_Amount(in_lakhs)     109 non-null    float64
 42  Peyush_Investment_Amount((in_lakhs)  89 non-null     float64
 43  Amit_Investment_Amount(in_lakhs)     35 non-null     float64
 44  Ashneer_Investment_Amount            21 non-null     float64
 45  Namita_Present                       389 non-null    object
 46  Vineeta_Present                      318 non-null    object
 47  Anupam_Present                       424 non-null    object
 48  Aman_Present                         420 non-null    object
 49  Peyush_Present                       307 non-null    object
 50  Amit_Present                         137 non-null    object
 51  Ashneer_Present                      99 non-null     object
dtypes: float64(24), int64(4), object(24)
memory usage: 194.3+ KB

In [105]:
#checking nUll Values
df.isna().sum()

Season_Number                          0
Startup_Name                           0
Episode_Number                         0
Pitch_Number                           0
Season_Start                           0
Season_End                             0
Anchor                                 0
Industry                               0
Business_Description                   0
Started_in                             0
Number_of_Presenters                   0
Male_Presenters                        0
Female_Presenters                      0
Transgender_Presenters                 0
Couple_Presenters                      0
Pitchers_Average_Age                   0
Pitchers_City                          0
Pitchers_State                         0
Yearly_Revenue(in_lakhs)               0
Monthly_Sales(in_lakhs)                0
Original_Ask_Amount                    0
Original_Offered_Equity(in_%)          0
Valuation_Requested(in_lakhs)          0
Received_Offer                         0
Accepted_Offer                         0
Total_Deal_Amount(in_lakhs)            0
Total_Deal_Equity(%)                   0
Number_of_Sharks_in_Deal               0
Namita_Investment_Amount(in_lakhs)     0
Vineeta_Investment_Amount(in_lakhs)    0
Anupam_Investment_Amount(in_lakhs)     0
Aman_Investment_Amount(in_lakhs)       0
Peyush_Investment_Amount(in_lakhs)     0
Amit_Investment_Amount(in_lakhs)       0
Ashneer_Investment_Amount              0
Namita_Present                         0
Vineeta_Present                        0
Anupam_Present                         0
Aman_Present                           0
Peyush_Present                         0
Amit_Present                           0
Ashneer_Present                        0
dtype: int64

In [9]:
df['Male_Presenters'].fillna(0,inplace=True)

In [12]:
df['Male_Presenters']=df['Male_Presenters'].astype('int')

In [14]:
df['Female_Presenters'].fillna(0,inplace=True)

In [15]:
df['Female_Presenters']=df['Female_Presenters'].astype('int')

In [16]:
df['Transgender_Presenters'].fillna(0,inplace=True)

In [17]:
df['Transgender_Presenters']=df['Transgender_Presenters'].astype('int')

In [18]:
df['Couple_Presenters'].fillna(0,inplace=True)

In [20]:
df['Couple_Presenters']=df['Couple_Presenters'].astype('int')

In [27]:
df['Yearly_Revenue(in_lakhs)'].fillna("Not Mentioned",inplace=True)

In [28]:
df['Monthly_Sales(in_lakhs)'].fillna("Not Mentioned",inplace=True)

In [34]:
df['Accepted_Offer'].fillna("Not Received",inplace=True)

In [37]:
df['Total_Deal_Amount(in_lakhs)'].fillna(0,inplace=True)

In [39]:
df['Total_Deal_Amount(in_lakhs)']=df['Total_Deal_Amount(in_lakhs)'].astype('int')

In [42]:
df['Total_Deal_Equity(%)'].fillna(0,inplace=True)

In [43]:
df['Total_Deal_Equity(%)']=df['Total_Deal_Equity(%)'].astype('int')

In [45]:
df['Number_of_Sharks_in_Deal'].fillna(0,inplace=True)

In [46]:
df['Number_of_Sharks_in_Deal']=df['Number_of_Sharks_in_Deal'].astype('int')

In [47]:
df['Namita_Present'].isna().sum()

89

In [48]:
df['Namita_Present'].fillna('No',inplace=True)

In [49]:
df['Vineeta_Present'].fillna('No',inplace=True)

In [50]:
df['Ashneer_Present'].fillna('No',inplace=True)

In [51]:
df['Aman_Present'].fillna('No',inplace=True)

In [52]:
df['Anupam_Present'].fillna('No',inplace=True)

In [53]:
df['Peyush_Present'].fillna('No',inplace=True)

In [54]:
df['Amit_Present'].fillna('No',inplace=True)

In [61]:
df['Namita_Investment_Amount(in lakhs)'].fillna(0,inplace=True)
df['Vineeta_Investment_Amount(in_lakhs)'].fillna(0,inplace=True)
df['Aman_Investment_Amount(in_lakhs)'].fillna(0,inplace=True)
df['Ashneer_Investment_Amount'].fillna(0,inplace=True)
df['Anupam_Investment_Amount(in_lakhs)'].fillna(0,inplace=True)
df['Peyush_Investment_Amount((in_lakhs)'].fillna(0,inplace=True)
df['Amit_Investment_Amount(in_lakhs)'].fillna(0,inplace=True)

In [67]:
df.rename(columns={'Namita_Investment_Amount(in lakhs)': 'Namita_Investment_Amount(in_lakhs)',
                   'Peyush_Investment_Amount((in_lakhs)': 'Peyush_Investment_Amount(in_lakhs)'}
          ,inplace=True)

In [73]:
df['Pitchers_City'].fillna("Not Mentioned",inplace=True)

In [77]:
df['Pitchers_State'].fillna("Not Mentioned",inplace=True)

In [79]:
df['Yearly_Revenue(in_lakhs)'].value_counts()

Not Mentioned    237
0.0               23
100.0              8
120.0              7
1000.0             6
                ...
1600.0             1
114.0              1
53.0               1
33.0               1
320.0              1
Name: Yearly_Revenue(in_lakhs), Length: 130, dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 52 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Season_Number                        478 non-null    int64
 1   Startup_Name                         478 non-null    object
 2   Episode_Number                       478 non-null    int64
 3   Pitch_Number                         478 non-null    int64
 4   Season_Start                         478 non-null    object
 5   Season_End                           478 non-null    object
 6   Original_Air_Date                    447 non-null    object
 7   Episode_Title                        478 non-null    object
 8   Anchor                               478 non-null    object
 9   Industry                             478 non-null    object
 10  Business_Description                 478 non-null    object
 11  Company_Website                      466 non-null    object
 12  Started_in                           355 non-null    float64
 13  Number_of_Presenters                 478 non-null    int64
 14  Male_Presenters                      478 non-null    int32
 15  Female_Presenters                    478 non-null    int32
 16  Transgender_Presenters               478 non-null    int32
 17  Couple_Presenters                    478 non-null    int32
 18  Pitchers_Average_Age                 478 non-null    object
 19  Pitchers_City                        478 non-null    object
 20  Pitchers_State                       478 non-null    object
 21  Yearly_Revenue(in_lakhs)             478 non-null    object
 22  Monthly_Sales(in_lakhs)              478 non-null    object
 23  Gross_Margin                         129 non-null    float64
 24  Net_Margin                           73 non-null     float64
 25  EBITDA                               23 non-null     float64
 26  Cash_Burn                            64 non-null     object
 27  SKUs                                 28 non-null     float64
 28  Has_Patents                          43 non-null     object
 29  Bootstrapped                         48 non-null     object
 30  Original_Ask_Amount                  478 non-null    float64
 31  Original_Offered_Equity(in_%)        478 non-null    float64
 32  Valuation_Requested(in_lakhs)        478 non-null    float64
 33  Received_Offer                       478 non-null    object
 34  Accepted_Offer                       478 non-null    object
 35  Total_Deal_Amount(in_lakhs)          478 non-null    int32
 36  Total_Deal_Equity(%)                 478 non-null    int32
 37  Number_of_Sharks_in_Deal             478 non-null    int32
 38  Namita_Investment_Amount(in_lakhs)   478 non-null    float64
 39  Vineeta_Investment_Amount(in_lakhs)  478 non-null    float64
 40  Anupam_Investment_Amount(in_lakhs)   478 non-null    float64
 41  Aman_Investment_Amount(in_lakhs)     478 non-null    float64
 42  Peyush_Investment_Amount(in_lakhs)   478 non-null    float64
 43  Amit_Investment_Amount(in_lakhs)     478 non-null    float64
 44  Ashneer_Investment_Amount            478 non-null    float64
 45  Namita_Present                       478 non-null    object
 46  Vineeta_Present                      478 non-null    object
 47  Anupam_Present                       478 non-null    object
 48  Aman_Present                         478 non-null    object
 49  Peyush_Present                       478 non-null    object
 50  Amit_Present                         478 non-null    object
 51  Ashneer_Present                      478 non-null    object
dtypes: float64(15), int32(7), int64(4), object(26)
memory usage: 181.2+ KB

In [84]:
df['Season_Start']=pd.to_datetime(df['Season_Start'])
df['Season_End']=pd.to_datetime(df['Season_End'])
df['Original_Air_Date']=pd.to_datetime(df['Original_Air_Date'])

In [87]:
df['Pitchers_State']=df['Pitchers_State'].str.replace("0","")

In [92]:
df['Episode_Title']=df['Episode_Title'].str.replace("0",' ')

In [93]:
df['Anchor']= df['Anchor'].str.replace('0',' ')
df['Industry']= df['Industry'].str.replace('0',' ')
df['Business_Description']=df['Business_Description'].str.replace('0',' ')

In [96]:
df['Started_in'].fillna("Not Mentioned",inplace=True)

In [98]:
df.isna().sum()

Season_Number                            0
Startup_Name                             0
Episode_Number                           0
Pitch_Number                             0
Season_Start                             0
Season_End                               0
Original_Air_Date                       31
Episode_Title                            0
Anchor                                   0
Industry                                 0
Business_Description                     0
Company_Website                         12
Started_in                               0
Number_of_Presenters                     0
Male_Presenters                          0
Female_Presenters                        0
Transgender_Presenters                   0
Couple_Presenters                        0
Pitchers_Average_Age                     0
Pitchers_City                            0
Pitchers_State                           0
Yearly_Revenue(in_lakhs)                 0
Monthly_Sales(in_lakhs)                  0
Gross_Margin                           349
Net_Margin                             405
EBITDA                                 455
Cash_Burn                              414
SKUs                                   450
Has_Patents                            435
Bootstrapped                           430
Original_Ask_Amount                      0
Original_Offered_Equity(in_%)            0
Valuation_Requested(in_lakhs)            0
Received_Offer                           0
Accepted_Offer                           0
Total_Deal_Amount(in_lakhs)              0
Total_Deal_Equity(%)                     0
Number_of_Sharks_in_Deal                 0
Namita_Investment_Amount(in_lakhs)       0
Vineeta_Investment_Amount(in_lakhs)      0
Anupam_Investment_Amount(in_lakhs)       0
Aman_Investment_Amount(in_lakhs)         0
Peyush_Investment_Amount(in_lakhs)       0
Amit_Investment_Amount(in_lakhs)         0
Ashneer_Investment_Amount                0
Namita_Present                           0
Vineeta_Present                          0
Anupam_Present                           0
Aman_Present                             0
Peyush_Present                           0
Amit_Present                             0
Ashneer_Present                          0
dtype: int64

In [99]:
df.drop(columns=['Company_Website','Original_Air_Date','Episode_Title','Gross_Margin','Net_Margin','EBITDA','Cash_Burn','SKUs','Has_Patents','Bootstrapped'], inplace=True)

In [100]:
df.isna().sum()

Season_Number                          0
Startup_Name                           0
Episode_Number                         0
Pitch_Number                           0
Season_Start                           0
Season_End                             0
Anchor                                 0
Industry                               0
Business_Description                   0
Started_in                             0
Number_of_Presenters                   0
Male_Presenters                        0
Female_Presenters                      0
Transgender_Presenters                 0
Couple_Presenters                      0
Pitchers_Average_Age                   0
Pitchers_City                          0
Pitchers_State                         0
Yearly_Revenue(in_lakhs)               0
Monthly_Sales(in_lakhs)                0
Original_Ask_Amount                    0
Original_Offered_Equity(in_%)          0
Valuation_Requested(in_lakhs)          0
Received_Offer                         0
Accepted_Offer                         0
Total_Deal_Amount(in_lakhs)            0
Total_Deal_Equity(%)                   0
Number_of_Sharks_in_Deal               0
Namita_Investment_Amount(in_lakhs)     0
Vineeta_Investment_Amount(in_lakhs)    0
Anupam_Investment_Amount(in_lakhs)     0
Aman_Investment_Amount(in_lakhs)       0
Peyush_Investment_Amount(in_lakhs)     0
Amit_Investment_Amount(in_lakhs)       0
Ashneer_Investment_Amount              0
Namita_Present                         0
Vineeta_Present                        0
Anupam_Present                         0
Aman_Present                           0
Peyush_Present                         0
Amit_Present                           0
Ashneer_Present                        0
dtype: int64

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 42 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Season_Number                        478 non-null    int64
 1   Startup_Name                         478 non-null    object
 2   Episode_Number                       478 non-null    int64
 3   Pitch_Number                         478 non-null    int64
 4   Season_Start                         478 non-null    datetime64[ns]
 5   Season_End                           478 non-null    datetime64[ns]
 6   Anchor                               478 non-null    object
 7   Industry                             478 non-null    object
 8   Business_Description                 478 non-null    object
 9   Started_in                           478 non-null    object
 10  Number_of_Presenters                 478 non-null    int64
 11  Male_Presenters                      478 non-null    int32
 12  Female_Presenters                    478 non-null    int32
 13  Transgender_Presenters               478 non-null    int32
 14  Couple_Presenters                    478 non-null    int32
 15  Pitchers_Average_Age                 478 non-null    object
 16  Pitchers_City                        478 non-null    object
 17  Pitchers_State                       478 non-null    object
 18  Yearly_Revenue(in_lakhs)             478 non-null    object
 19  Monthly_Sales(in_lakhs)              478 non-null    object
 20  Original_Ask_Amount                  478 non-null    float64
 21  Original_Offered_Equity(in_%)        478 non-null    float64
 22  Valuation_Requested(in_lakhs)        478 non-null    float64
 23  Received_Offer                       478 non-null    object
 24  Accepted_Offer                       478 non-null    object
 25  Total_Deal_Amount(in_lakhs)          478 non-null    int32
 26  Total_Deal_Equity(%)                 478 non-null    int32
 27  Number_of_Sharks_in_Deal             478 non-null    int32
 28  Namita_Investment_Amount(in_lakhs)   478 non-null    float64
 29  Vineeta_Investment_Amount(in_lakhs)  478 non-null    float64
 30  Anupam_Investment_Amount(in_lakhs)   478 non-null    float64
 31  Aman_Investment_Amount(in_lakhs)     478 non-null    float64
 32  Peyush_Investment_Amount(in_lakhs)   478 non-null    float64
 33  Amit_Investment_Amount(in_lakhs)     478 non-null    float64
 34  Ashneer_Investment_Amount            478 non-null    float64
 35  Namita_Present                       478 non-null    object
 36  Vineeta_Present                      478 non-null    object
 37  Anupam_Present                       478 non-null    object
 38  Aman_Present                         478 non-null    object
 39  Peyush_Present                       478 non-null    object
 40  Amit_Present                         478 non-null    object
 41  Ashneer_Present                      478 non-null    object
dtypes: datetime64[ns](2), float64(10), int32(7), int64(4), object(19)
memory usage: 143.9+ KB

In [104]:
df.to_csv('sharktank.csv',index=False)

In [3]:
df=pd.read_csv('sharktank.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 42 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Season_Number                        478 non-null    int64
 1   Startup_Name                         478 non-null    object
 2   Episode_Number                       478 non-null    int64
 3   Pitch_Number                         478 non-null    int64
 4   Season_Start                         478 non-null    object
 5   Season_End                           478 non-null    object
 6   Anchor                               478 non-null    object
 7   Industry                             478 non-null    object
 8   Business_Description                 478 non-null    object
 9   Started_in                           478 non-null    object
 10  Number_of_Presenters                 478 non-null    int64
 11  Male_Presenters                      478 non-null    int64
 12  Female_Presenters                    478 non-null    int64
 13  Transgender_Presenters               478 non-null    int64
 14  Couple_Presenters                    478 non-null    int64
 15  Pitchers_Average_Age                 478 non-null    object
 16  Pitchers_City                        478 non-null    object
 17  Pitchers_State                       478 non-null    object
 18  Yearly_Revenue(in_lakhs)             478 non-null    object
 19  Monthly_Sales(in_lakhs)              478 non-null    object
 20  Original_Ask_Amount                  478 non-null    float64
 21  Original_Offered_Equity(in_%)        478 non-null    float64
 22  Valuation_Requested(in_lakhs)        478 non-null    float64
 23  Received_Offer                       478 non-null    object
 24  Accepted_Offer                       478 non-null    object
 25  Total_Deal_Amount(in_lakhs)          478 non-null    int64
 26  Total_Deal_Equity(%)                 478 non-null    int64
 27  Number_of_Sharks_in_Deal             478 non-null    int64
 28  Namita_Investment_Amount(in_lakhs)   478 non-null    float64
 29  Vineeta_Investment_Amount(in_lakhs)  478 non-null    float64
 30  Anupam_Investment_Amount(in_lakhs)   478 non-null    float64
 31  Aman_Investment_Amount(in_lakhs)     478 non-null    float64
 32  Peyush_Investment_Amount(in_lakhs)   478 non-null    float64
 33  Amit_Investment_Amount(in_lakhs)     478 non-null    float64
 34  Ashneer_Investment_Amount            478 non-null    float64
 35  Namita_Present                       478 non-null    object
 36  Vineeta_Present                      478 non-null    object
 37  Anupam_Present                       478 non-null    object
 38  Aman_Present                         478 non-null    object
 39  Peyush_Present                       478 non-null    object
 40  Amit_Present                         478 non-null    object
 41  Ashneer_Present                      478 non-null    object
dtypes: float64(10), int64(11), object(21)
memory usage: 157.0+ KB